.modal-baseWrap {
    position: relative;
    min-width: 243px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
    padding: 70px 70px !important;
    box-sizing: border-box;
    border-radius: 5px;
}